__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/

*.sqlite3
*.sqlite3-journal

nginx/nginx-1.26.0/logs/*
!nginx/nginx-1.26.0/logs/.gitkeep
*.log
nginx/nginx-1.26.0/temp/
nginx/nginx-1.26.0/logs/nginx.pid

results.csv
*.pdf
jmeter_report/

.vscode/
.idea/
*.suo
*.sln
*.sw?
